html {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite
}

nav {
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    color: black;
  }

  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

  .MainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Photo{
    text-align: center;
  }

  .Logos{
    display: block;
    padding: 40px;
  }

  .LogoPicture{
    margin-left: 125px;
    margin-right: 80px;
  }
